form.reusableform {
    margin: 0px;
    padding: 0px 10px;

    & > div.formbuttons {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        position: relative;
    }
}