form.reusableform {
    margin: 0px;
    padding: 0px 10px;
}

form.reusableform > div.formbuttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 15px 0px 0px;
    position: relative;
}